
{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create New Page
{% endblock %}

{% block body %}
<div id="createPage">
  <h3>Create a new Wiki Article:</h3>

  <p>Use the form below to create a new Encyclopedia Page.</p>
  <p>Please note that Encyclopedia uses <a href="https://docs.github.com/en/github/writing-on-github/basic-writing-and-formatting-syntax" target="_blank" >Github Markdown</a> to style its pages, which is converted to HTML when entries are requested by a user.</p>

  <form id="create" action="{% url 'create' %}" method="post">
  <table>
    {% csrf_token %}
    {{ create_form.as_table }}
    </table>
        <input class= "btn btn-primary" type="submit" value="Create">
  </form>

</div>

{% endblock %}