
{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit Page {{ title }}
{% endblock %}

{% block body %}

  <h3>Editing Encyclopedia Article "{{ title }}"</h3>

  <p>Use the form below to edit the Encyclopedia page for "{{ title }}".</p>
  <p>Please note that Encyclopedia uses <a href="https://docs.github.com/en/github/writing-on-github/basic-writing-and-formatting-syntax">Github Markdown</a> to style its pages, which is converted to HTML when entries are requested by a user.</p>

  <form action="{% url 'edit' title=title %}" method="post">
    {% csrf_token %}
    {{ edit_form }}
    <input class="btn btn-primary" type="submit" value="Submit">
  </form>

{% endblock %}