{% extends "encyclopedia/layout.html" %} {% block title %} {{ title }} {% endblock %} {% block body %}
<a href="{% url 'edit' title=title %}">Edit Page</a>
<div id="content">
{{ entry|safe }}
</div>
<div id="editor"></div>
<button id="cmd" class="btn btn-success" >Download as PDF</button>


<script>
var doc = new jsPDF();
var specialElementHandlers = {
    '#editor': function (element, renderer) {
        return true;
    }
};

$('#cmd').click(function () {
    doc.fromHTML($('#content').html(), 15, 15, {
        'width': 170,
            'elementHandlers': specialElementHandlers
    });
    doc.save('Article.pdf');
});
</script>
{% endblock %}
