body {

}

#content{
    margin-top: 10px;
    border: 0.5px solid gray;
    background-color: rgb(245,255,250);
    padding: 10px;
}
code {
    white-space: pre;
}

h3 {

    padding-top: 20px;
}

textarea {
    resize: none;
    height: 50vh;
    width: 80%;
    margin-top: 10px;
    padding-left: 5px;
}

input {
    padding-left: 5px;
}

.main {
    width: 65vw;
    padding: 10px;
}

.search {
    width: 100%;
    font-size: 15px;
    line-height: 15px;
}

.sidebar {
    background-color: #f0f0f0;
    height: 100vh;
    padding: 20px;
    width: 35vw;
}

.sidebar h3 {
    margin-top: 5px;
}

#search-wiki{
    margin-bottom: 10px;
}

#cmd{
    margin-top: 10px;
}


/* NavBar ------------------------ */
#navbar{
    display: none;
}

@media only screen and (max-width: 545px) {
#navbar{
    display: block;
}
#navbar_div{
    background-color: rgb(234,236,240) !important;
}
.sidebar{
    display: none;
}
.main{
    margin-left:15px;
}
#content{
    width: 90vw;
}
#createPage{
    width: 90vw;
}
#home{
    width: 90vw;
    margin-top: 20px;
}
}

